.doneOutline-1 {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 12px;
}

.plateBorder-1 {
  fill: none;
  stroke: currentColor;
  stroke-miterlimit: 10;
  stroke-width: 10px;
}

.logo-1 {
  fill: #3498da;
}
.logo-2 {
  fill: #094b8c;
}

.logo-light-1 {
  fill: #92d4ff;
}

.logo-light-2 {
  fill: #fff;
}

#orbit {
  transform-origin: center;
}

.brain-1 {
  fill: none;
  stroke: #2ecb71;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 8.06px;
  stroke-dasharray: 30.29 30.29;
}
.brain-2 {
  fill: #0d69d5;
}
.brain-3 {
  fill: #3498da;
}
.brain-4 {
  fill: #094b8c;
}
.brain-5 {
  fill: #f6f6f6;
}

.path-2 {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 14px;
}
.path-3 {
  fill: #fff;
}


.ocean {
  height: 5%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #015871;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg)
    repeat-x;
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
    swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}
